*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 16px;
}

.top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.links {
    display: flex;
    gap: 16px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.header-content {
    margin: 64px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.container {
    width: 450px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

img {
    height: auto;
    width: 450px;
}

ul {
    list-style: none;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 4px 24px;
    border-style: none;
    border-radius: 5px;
}

.body {
    flex: 1;
    text-align: center;
}

.info {
    padding: 36px;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: 48px 0;
}

.images {
    width: 175px;
}

.image {
    height: 175px;
    width: 175px;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

p {
    font-size: 18px;
    color: #71797E;
}

.quote {
    background-color: #E5E7EB;
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: start;
    width: 800px;
    margin: 72px 0;
}

span {
    display: block;
    font-size: 18px;
    color: #1F2937;
    font-weight: 700;
    font-style: normal;
    text-align: end;
}

.sign-up {
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 108px;
}

.ad {
    background-color: #3882F6;
    padding: 36px;
    border-radius: 5px;
    max-width: 1000px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    border: 2px solid white;
    height: fit-content;
}